:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --third-bg-color: #2f303a;
  --title-text-color: #757575;
  --main-background-color: #ffffff;
}

/* base style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 0;
}

img {
  display: block;
}

body {
  background-color: var(--main-background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* end base style */

/* Logo */
.navigation,
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.logo {
  margin-right: 93px;
}
.web {
  color: var(--accent-color);
}
/* End Logo */

/* Navigation list*/
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-nav-link {
  color: var(--accent-color);
  position: relative;
}

.current-nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 76px;
  left: 453;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.navigation-list-item {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.address {
  display: flex;
  margin-left: auto;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.addres-link-list {
  display: flex;
  align-items: center;
}
.address-link {
  display: flex;
}
.address-link:not(:last-child) {
  margin-right: 50px;
}

.main-mail {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
}
.main-tel {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}

.svg-mail {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-tel {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-mail:hover,
.main-mail:focus {
  color: var(--accent-color);
}
.main-mail:hover .svg-mail {
  fill: currentColor;
}
.main-tel:hover,
.main-tel:focus {
  color: var(--accent-color);
}
.main-tel:hover .svg-tel {
  fill: currentColor;
}

/* End Navigation list*/

/*  hero  */

.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button {
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--primary-white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* End hero */

/* main */
.advantages {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
}
.advantages li:not(:last-child) {
  margin-right: 30px;
}
.svg-wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.title {
  width: 270px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.descriptions {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.social-list-wrapper {
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;

  border-radius: 0px 0px 4px 4px;
}
.social-list-svg {
  display: flex;
  justify-content: space-around;
}

.descriptions-list-svg:not(:last-child) {
  margin-right: 10px;
}

.social-link-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-svg {
  fill: currentColor;
}

.social-link-svg:hover,
.social-link-svg:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.section-title {
  padding-top: 94px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  counter-reset: var(--primary-text-color);
  color: var(--primary-text-color);
}
.employment {
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;
}

.employment-list:not(:last-child) {
  margin-right: 30px;
}
.employment-list {
  position: relative;
}
.position-employment {
  position: absolute;
  text-align: center;
  padding: 27px 0;
  bottom: 0;
  width: 370px;
  min-height: 70px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
}
.team-section {
  background-color: #f5f4fa;
}
.team-box {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;
}
.team-box:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  text-align: center;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.descriptions-list .descriptions {
  text-align: center;
}
.descriptions-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-title {
  padding-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-svg {
  fill: currentColor;
}
.clients-link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.clients-logo-svg:hover,
.clients-logo:focus {
  color: var(--accent-color);
}
.clients-link:hover .clients-logo-svg {
  fill: currentColor;
}
/* end main */
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-list-link:not(:first-child) {
  padding-top: 9px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.839;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list-nav {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-social-link {
  width: 206px;
}
.footer-social-link {
  width: 206px;
}
.footer-join {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}
.footer-social-list {
  display: flex;
}
.footer-social-list-link:not(:last-child) {
  margin-right: 10px;
}
.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-svg {
  fill: currentColor;
}
.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: var(--accent-color);
}
/* end footer */

/* portfolio title */

/* button section  */
.button-section {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.button-section-link:not(:last-child) {
  padding-right: 8px;
}

.button2 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button2-link {
  min-width: 59px;
  padding: 6px 22px;
}

.button2:hover,
.button2:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* end button section*/
.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.portfolio-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
}
.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list:hover .position-card {
  transform: translateY(0%);
}
.position-img {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}
.position-card {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
}

.portfolio-border {
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-list:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-title {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-description {
  padding-left: 24px;
  padding-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* end portfolio title */

/* BACKDROP */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}
.btn-svg {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* END BACKDROP */
